<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap-submenu/bootstrap-submenu.min.css">
  <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <style>
    .por_img {
      background: url(/public/images/banner/s4.jpg) no-repeat 50% bottom
    }
  </style>
</head>

<body>
  {% include "header.html" %}
  <div id="banner2">
    <div class="por_img">
    </div>
  </div>
  <div class="index">
    <div class="box2">
      <div class="container">
        <div class="title10">
          <h4>企业荣誉</h4>
          <p>company_honor</p>
        </div>

        <div class="content_tools_box">
          <p class="content_tools">
            <a href="javascript:CallPrint('print');">打印本文</a> &nbsp; &nbsp; &nbsp;
            <a href="javascript:doZoom(14)">小</a>&nbsp; &nbsp;
            <a href="javascript:doZoom(18)">中</a>&nbsp; &nbsp;
            <a href="javascript:doZoom(20)">大</a>
          </p>
          <div class="clearfix"></div>
        </div>

        <div class="content lead" id="print">
          <div style="overflow:hidden;">
            <p><img src="/demo/business-template/v458/upload//images/201708/15014705148091.jpg" title="14885109465017.jpg" alt="141.jpg" style="float:left;margin: 0 30px 10px 0;max-width:440px;"></p>
            <p>当今是互联网的时代，我们仍然对电力有着持续增长的需求，因为我们发明了家电等更多使用电力的产品。不可否认新技术的不断出现使得电力成为人们的必需品。</p>
            <p><br></p>
            <p>不过，在目前电价无法实现市场化的情况下，真正的电煤市场化改革依然步履维艰句号或者，虽然并轨后的全面市场化有利于煤价回归合理水平，也会进一步推动煤电联动的进程，但煤电联动是一个漫长的过程，短期很难实现。首次放开铁路运力配置；继续完善煤电联动机制。同时，发展改革委牵头起草的《关于取消重点合同 推进电煤价格并轨》的报告已上报国务院。另外，就2013年煤电合同谈判，发展改革委已就《深化煤炭市场化改革 做好煤炭产运需衔接工作指导意见》征求意见。</p>
            <p><br></p>
            <p>电力是以电能作为动力的能源。发明于19世纪70 年代，电力的发明和应用掀起了第二次工业化高潮。成为人类历史18世纪以来，世界发生的三次科技革命之一，从此科技改变了人们的生活。20世纪出现的大规模电力系统是人类工程科学史上最重要的成就之一，是由发电、输电、变电、配电和用电等环节组成的电力生产与消费系统。它将自然界的一次能源通过机械能装置转化成电力，再经输电、变电和配电将电力供应到各用户。</p>
            <p><br></p>
            <p>那么，究竟什么是“能源”呢？关于能源的定义，约有20种。例如：说：“能源是可从其获得热、光和动力之类能量的资源”；《大英百科全书》说：“能源是一个包括着所有燃料、流水、阳光和风的术语，人类用适当的转换手段便可让它为自己提供所需的能量”此外，煤价并轨良机已经来临。发展改革委已就2013年煤炭产运需衔接定调，核心政策包括三点：首次取消煤炭重点合同；首次放开铁路运力配置；继续完善煤电联动机制。同时，发展改革委牵头起草的《关于取消重点合同 推进电煤价格并轨》的报告已上报国务院。另外，就2013年煤电合同谈判，发展改革委已就《深化煤炭市场化改革
              做好煤炭产运需衔接工作指导意见》征求意见
            </p>
          </div>
          <div class="blank60"></div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/bootstrap/bootstrap.min.js"></script>
<script src="/public/js/nav.js"></script>
<script src="/public/js/c_tool.js" type="text/javascript"></script>

</html>