<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap-submenu/bootstrap-submenu.min.css">
  <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <style>
    .por_img {
      background: url(/public/images/banner/s4.jpg) no-repeat 50% bottom
    }
  </style>
</head>

<body>
  {% include "header.html" %}
  <div id="banner2">
    <div class="por_img">
    </div>
  </div>
  <div class="index">
    <div class="box2">
      <div class="container">
        <div class="title10">
          <h4>产品中心</h4>
          <p>集市尖货热卖抢手马上来单</p>
          <ul>
            <li><a href="/product/fertilizer">有机化肥</a></li>
            <li class="active"><a href="/product/pesticide">有机农药</a></li>
            <li><a href="/product/farmtool">农业用具</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="魅力女生养成果" href="/demo/business-template/V458/lv-se-shu-cai/show_326.html" target="_blank">
                <div class="s2-img">
                  <img alt="魅力女生养成果" src="/public/images/15039180179778.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>魅力女生养成果</h4>
                  <p>优质品种黄金蜜桃 炎陵黄桃皮橙黄，桃肉金黄饱满，皮薄易拨，肉质肥厚细腻，水润多汁，桃香浓郁，轻轻咬一口，蜜甜果汁浸润整个口腔，慢慢的幸福感黄桃的营养十分丰富，根据市农科院专家检测：它的主要营养成份有：丰富的维生素C和大量的人体所需要的纤维素</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="雪沫 辣椒 小彩椒 盆栽花卉" href="/demo/business-template/V458/lv-se-shu-cai/show_325.html" target="_blank">
                <div class="s2-img">
                  <img alt="雪沫 辣椒 小彩椒 盆栽花卉" src="/public/images/15039178232898.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>雪沫 辣椒 小彩椒 盆栽花卉</h4>
                  <p>购买须知，本款五彩椒，刚结出的辣椒 颜色单一， 随时间段不断的变色，呈现出五色辣椒，一直持续结果到秋季天气变冷之前，发货带少许泥土不带盆发货，请知悉！！！1、解热、镇痛：辣椒辛温，能够通过发汗而降低体温，并缓解肌肉疼痛，因此具有较强的解热镇</p>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="农业研究疏松土壤物质" href="/demo/business-template/V458/lv-se-shu-cai/show_324.html" target="_blank">
                <div class="s2-img">
                  <img alt="农业研究疏松土壤物质" src="/public/images/1503917694717.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>农业研究疏松土壤物质</h4>
                  <p>土壤是地球陆地的表面由矿物质、有机质、水、空气和生物组成的 土壤是陆地上具有肥力并能生长植物的疏松表层。壤由岩石风化而成的矿物质、动植物，微生物残体腐解产生的有机质、土壤生物（固相物质）以及水分（液相物质）、空气（气相物质），氧化的腐殖质等</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="柚通柚美 奈李三华李现货现" href="/demo/business-template/V458/lv-se-shu-cai/show_323.html" target="_blank">
                <div class="s2-img">
                  <img alt="柚通柚美 奈李三华李现货现" src="/public/images/15039172917399.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>柚通柚美 奈李三华李现货现</h4>
                  <p>李子中含有多种营养成分，有养颜美容、润滑肌肤的作用，李子中抗氧化剂含量高的惊人，堪称是抗衰老、防疾病的“超级水果”1、去骨节间劳热，肝有病的人宜于食用。晒干后吃，去痼热，调中。不能经常吃，否则会使人发热。喝水前吃李子会使人发痰疟。不能与麻雀</p>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="科学研究发现,大豆幼苗" href="/demo/business-template/V458/lv-se-shu-cai/show_322.html" target="_blank">
                <div class="s2-img">
                  <img alt="科学研究发现,大豆幼苗" src="/public/images/15039171316026.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>科学研究发现,大豆幼苗</h4>
                  <p>为了研究钙离子对NaCl胁迫下黄瓜幼苗光合作用的影响，研究人员设计了如下实验，结果见下表．组别处理叶绿双子叶植物如大豆、棉花以及各种瓜类的无胚乳种子，在萌发时，胚根首先伸入土中形成主根，接着下胚轴伸长，将子叶和胚芽推出土面，这种幼苗的子叶是</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="珍享澳橙自营脐橙" href="/demo/business-template/V458/re-xiao-shui-guo/show_321.html" target="_blank">
                <div class="s2-img">
                  <img alt="珍享澳橙自营脐橙" src="/public/images/15039170552969.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>珍享澳橙自营脐橙</h4>
                  <p>暑期鲜果大放价，佳沛绿果19.9元/8粒，越南红心火龙果19.9元/2斤，泰国椰青大促销，更多生鲜产品详情点击。橙子具有宽肠、理气、化痰、消食、开胃、止呕、止痛、止咳等功效，可用于治疗胸闷、腹胀、呕吐、便秘、小便不畅、痔疮出血，解酒、鱼、蟹</p>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="维吉达尼白葡萄" href="/demo/business-template/V458/re-xiao-shui-guo/show_320.html" target="_blank">
                <div class="s2-img">
                  <img alt="维吉达尼白葡萄" src="/public/images/15039169191542.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>维吉达尼白葡萄</h4>
                  <p>吐鲁番葡萄汁所以每位得益于巧妙的自然条件，白天气温高达45度，光照时间长达15个小时，光合作用抢，昼夜温差大葡萄与大多数作物类似，其生长所需营养元素，大约有17种：碳、氢、氧、氮、磷、钾、钙、镁、硫、铁、锰、锌、铜、硼、钼、氯、钻，基中碳和</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="s2-item">
              <a title="鲜农乐新鲜秋葵" href="/demo/business-template/V458/you-cai-ji-di/show_319.html" target="_blank">
                <div class="s2-img">
                  <img alt="鲜农乐新鲜秋葵" src="/public/images/15039166595401.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s2-text">
                  <h4>鲜农乐新鲜秋葵</h4>
                  <p>自然生长新鲜采摘 海南是热带海洋气候，全年暖热，光照充足，雨量丰沛，土壤肥沃，黄秋葵口感脆嫩多汁，爽滑不腻，香味独特，深受人们青睐，生食熟食均可秋葵含有蛋白质、脂肪、碳水化合物及丰富的维他命A和B群、钙、磷、铁等，以及含有锌和硒等微量元素，</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <nav>
          <ul class="pagination">
            <li class="active"><a>1</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/bootstrap/bootstrap.min.js"></script>
<script src="/public/js/nav.js"></script>
<script src="/public/js/c_tool.js" type="text/javascript"></script>

</html>