<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap-submenu/bootstrap-submenu.min.css">
  <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <style>
    .por_img {
      background: url(/public/images/banner/s3.jpg) no-repeat 50% bottom
    }
  </style>
</head>

<body>
  {% include "header.html" %}
  <div id="banner2">
    <div class="por_img">
    </div>
  </div>
  <div class="index">
    <div class="box2">
      <div class="container">
        <div class="title10">
          <h4>企业新闻</h4>
          <p>company_news</p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="2016广东省企业500强发布 深圳大生荣列第30位" href="/demo/business-template/V458/news/show_333.html" target="_blank">
                <div class="s5-img">
                  <img alt="2016广东省企业500强发布 深圳大生荣列第30位" src="/public/images/15039218395289.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s5-text">
                  <h4>2016广东省企业500强发布 深圳大生荣列第30位</h4>
                  <span>2017-08-28</span>
                  <p>8月3日，广东省企业联合会、广东省企业家协会发布2016年广东省企业500强及广东省民营企业100强榜单。深圳市大生农业集团有限公司荣列广东省企业500强第30位，广东省民营企业百强第11位。2015年，深圳市大生农业集团立足食品安全和健康</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="农产品最初一公里冷链不完善 中国每年损耗超三千亿" href="/demo/business-template/V458/news/show_332.html" target="_blank">
                <div class="s5-img">
                  <img alt="农产品最初一公里冷链不完善 中国每年损耗超三千亿" src="/public/images/15039218150761.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s5-text">
                  <h4>农产品最初一公里冷链不完善 中国每年损耗超三千亿</h4>
                  <span>2017-08-28</span>
                  <p>据中国新闻网报道，由于我国农产品最初一公里冷链基础设施不完善，产地冷库和批发市场缺乏，农产品采摘后无法在第一时间预冷、分级、包装、标准化，导致我国农产品损耗高，每年损耗超过3000亿元。物流行业的人士呼吁解决冷链物流软肋，突破农产品贸易难题</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="商务部：1万5千多家企业已建成肉菜追溯体系" href="/demo/business-template/V458/news/show_331.html" target="_blank">
                <div class="s5-img">
                  <img alt="商务部：1万5千多家企业已建成肉菜追溯体系" src="/public/images/15039217882701.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s5-text">
                  <h4>商务部：1万5千多家企业已建成肉菜追溯体系</h4>
                  <span>2017-08-28</span>
                  <p>据中国网报道，商务部8月2日召开例行新闻发布会，新闻发言人沈丹阳表示，2010年以来，商务部、财政部分五批支持全国58个试点城市开展肉类蔬菜追溯体系建设，支持18个省市开展中药材追溯体系建设。目前，全国已有1万5千多家企业建成肉菜追溯体系，</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="2015年全国农用地面积比上一年净减少426.3万亩" href="/demo/business-template/V458/news/show_330.html" target="_blank">
                <div class="s5-img">
                  <img alt="2015年全国农用地面积比上一年净减少426.3万亩" src="/public/images/15039217882701.jpg" onerror="this.src=/public/images/nopic.gif">
                </div>
                <div class="s5-text">
                  <h4>2015年全国农用地面积比上一年净减少426.3万亩</h4>
                  <span>2017-08-28</span>
                  <p>据中新网8月10日报道，国土资源部地籍管理司(不动产登记局)副司长(副局长)冯文利指出，与2014年底相比，全国农用地面积净减少426.3万亩，其中耕地净减少89.2万亩，建设用地净增加713.5万亩，未利用地净减少287.2万亩。国土资源</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <nav>
          <ul class="pagination">
            <li class="active"><a>1</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/bootstrap/bootstrap.min.js"></script>
<script src="/public/js/nav.js"></script>

</html>