<header id="nav">
  <div class="container">
    <div class="logo-box">
      <a title="甘肃瑞盈生态农业开发有限责任公司" href="/banner/business-template/V458/">
        <img src="/public/images/logo.png" alt="甘肃瑞盈生态农业开发有限责任公司">
      </a>
    </div>
    <div class="nav-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav1">
      <ul>
        <li class="one">
          <a class="on" title="返回首页" href="/">网站首页</a>
        </li>
        <li class="one">
          <a class="toogle" href="/about/profile" title="关于我们">关于我们
              <span class="fa fa-angle-down"></span>
            </a>
          <div class="subnav nav2">
            <ul>
              <li>
                <a title="公司简介" href="/about/profile">公司简介</a>
              </li>
              <li>
                <a title="发展历程" href="/about/culture">企业文化</a>
              </li>
              <li>
                <a title="发展历程" href="/about/honor">企业荣誉</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="one">
          <a class="toogle" href="/banner/business-template/V458/Product" title="公司产品" target="">产品中心
              <span class="fa fa-angle-down"></span>
            </a>
          <div class="subnav nav2">
            <ul>
              <li>
                <a title="绿色蔬菜" href="/banner/business-template/V458/lv-se-shu-cai" target="_blank">绿色蔬菜</a>
              </li>
              <li>
                <a title="热销水果" href="/banner/business-template/V458/re-xiao-shui-guo" target="_blank">热销水果</a>
              </li>
              <li>
                <a title="幼菜基地" href="/banner/business-template/V458/you-cai-ji-di" target="_blank">幼菜基地</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="one">
          <a href="/banner/business-template/V458/SERVICE" title="业务服务" target="">公司团队
              <span class="fa fa-angle-down"></span>
            </a>
          <div class="subnav nav2">
            <ul>
              <li>
                <a title="绿色蔬菜" href="/banner/business-template/V458/lv-se-shu-cai" target="_blank">瑞盈团队</a>
              </li>
              <li>
                <a title="热销水果" href="/banner/business-template/V458/re-xiao-shui-guo" target="_blank">瑞盈分店</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="one">
          <a href="/banner/business-template/V458/news" title="新闻资讯" target="">新闻动态
              <span class="fa fa-angle-down"></span>
            </a>
          <div class="subnav nav2">
            <ul>
              <li>
                <a title="绿色蔬菜" href="/news/industry">行业新闻</a>
              </li>
              <li>
                <a title="热销水果" href="/news/company">企业新闻</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="one">
          <a href="/contact" title="联系我们">联系我们</a>
        </li>
        <li class="one">
          <a href="/banner/business-template/V458/team" title="社会责任" target="">职位招聘</a>
        </li>
      </ul>
    </div>
  </div>
</header>