<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap-submenu/bootstrap-submenu.min.css">
  <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/animate.min.css">
  <link rel="stylesheet" href="/public/bootstrap-touch-slider/bootstrap-touch-slider.css">
  <link rel="stylesheet" href="/public/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  {% include "header.html" %}

  <div id="banner" class="carousel bs-slider slide control-round" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#banner" data-slide-to="0" class="active"></li>
      <li data-target="#banner" data-slide-to="1"></li>
      <li data-target="#banner" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/public/images/carousel/slide1.jpeg" class="slide-image">
        <!-- <div class="bs-slider-overlay"></div> -->
        <div class="container">
          <div class="row">
            <div class="slide-text slide_style_left">
              <h1 data-animation="animated zoomInRight" class="">Bootstrap Carousel</h1>
              <p data-animation="animated fadeInLeft" class="">Bootstrap carousel now touch enable slide.</p>
              <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/public/images/carousel/slide1.jpeg" class="slide-image">
        <!-- <div class="bs-slider-overlay"></div> -->
        <div class="slide-text slide_style_center">
          <h1 data-animation="animated flipInX" class="">Bootstrap touch slider</h1>
          <p data-animation="animated lightSpeedIn" class="">Make Bootstrap Better together.</p>
          <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">select two</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/public/images/carousel/slide1.jpeg" class="slide-image">
        <!-- <div class="bs-slider-overlay"></div> -->
        <div class="slide-text slide_style_right">
          <h1 data-animation="animated zoomInLeft" class="">Beautiful Animations</h1>
          <p data-animation="animated fadeInRight" class="">Lots of css3 Animations to make slide beautiful .</p>
          <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#banner" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="index">
    <div class="seciton1">
      <div class="container">
        <div class="title10">
          <h4><a href="/demo/business-template/V458/SERVICE" title="" target="_blank">业务服务</a></h4>
          <p>食品安全共享协作服务平台一流的市场化服务</p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="s1-item">
              <a title="农业科研 Research" href="/demo/business-template/V458/SERVICE/show_260.html" target="_blank">
                <div class="s1-img">
                  <img alt="农业科研 Research" src="/public/images/15039164554227.png" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农业科研 Research</font>
                  </h4>
                  <span>01</span>
                  <p>我们为200多名国际与本地客户的300余个产品提供了创新易用的设计方案，有效提升了产品体验和客户品牌价值，并引领市场不断树立新的体验标杆。我们整合商业思考，美学价值及技术实现，用设计的方法推动产品价值最大化，并与客户一起发现潜在机遇所谓产品</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s1-item">
              <a title="农产品 product" href="/demo/business-template/V458/SERVICE/show_259.html" target="_blank">
                <div class="s1-img">
                  <img alt="农产品 product" src="/public/images/15039164158526.png" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农产品 product</font>
                  </h4>
                  <span>02</span>
                  <p>农产品（farm produce）是农业中生产的物品，如高粱、稻子、花生、玉米、小麦以及各个地区土特产等。国家规定初级农产品是指农业活动中获得的植物、动物及其产品，不包括经过加工的各类产品。 据新华社全国农副产品和价格行情系统监测，与前一
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s1-item">
              <a title="农业基地 base" href="/demo/business-template/V458/SERVICE/show_258.html" target="_blank">
                <div class="s1-img">
                  <img alt="农业基地 base" src="/public/images/15039163802985.png" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农业基地 base</font>
                  </h4>
                  <span>03</span>
                  <p>农业生产基地就是在全国或地区农产品经济中占有较重地位并能长期稳定地向区内外提供大量农产品的集中生产地区。如粮食、油料、糖料、蔬菜、牧业、渔业等各种生产基地。它有以下几个方面的要求：一是强调生产的专业化和种植区域化，使基地尽可能成方连片，形成</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section2">
      <div class="container">
        <div class="title10">
          <h4><a href="/demo/business-template/V458/Product" title="" target="_blank">集团产业</a></h4>
          <p>集市尖货热卖抢手马上来单</p>
          <ul>
            <li><a title="绿色蔬菜" href="/demo/business-template/V458/lv-se-shu-cai" target="_blank">绿色蔬菜</a></li>
            <li><a title="热销水果" href="/demo/business-template/V458/re-xiao-shui-guo" target="_blank">热销水果</a></li>
            <li><a title="幼菜基地" href="/demo/business-template/V458/you-cai-ji-di" target="_blank">幼菜基地</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-sm-3 col-6">
            <div class="s2-item">
              <a title="魅力女生养成果" href="/demo/business-template/V458/lv-se-shu-cai/show_326.html" target="_blank">
                <div class="s2-img">
                  <img alt="魅力女生养成果" src="/public/images/15039180179778.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s2-text">
                  <h4>
                    <font>魅力女生养成果</font>
                  </h4>
                  <p>优质品种黄金蜜桃 炎陵黄桃皮橙黄，桃肉金黄饱满，皮薄易拨，肉质肥厚细腻，水润多汁，桃香浓郁，轻轻咬一口，蜜甜果汁浸润整个口腔，慢慢的幸福感黄桃的营养十分丰富，根据市农科院专家检测：它的主要营养成份有：丰富的维生素C和大量的人体所需要的纤维素</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3 col-6">
            <div class="s2-item">
              <a title="雪沫 辣椒 小彩椒 盆栽花卉" href="/demo/business-template/V458/lv-se-shu-cai/show_325.html" target="_blank">
                <div class="s2-img">
                  <img alt="雪沫 辣椒 小彩椒 盆栽花卉" src="/public/images/15039178232898.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s2-text">
                  <h4>
                    <font>雪沫 辣椒 小彩椒 盆栽花卉</font>
                  </h4>
                  <p>购买须知，本款五彩椒，刚结出的辣椒 颜色单一， 随时间段不断的变色，呈现出五色辣椒，一直持续结果到秋季天气变冷之前，发货带少许泥土不带盆发货，请知悉！！！1、解热、镇痛：辣椒辛温，能够通过发汗而降低体温，并缓解肌肉疼痛，因此具有较强的解热镇</p>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-sm-3 col-6">
            <div class="s2-item">
              <a title="农业研究疏松土壤物质" href="/demo/business-template/V458/lv-se-shu-cai/show_324.html" target="_blank">
                <div class="s2-img">
                  <img alt="农业研究疏松土壤物质" src="/public/images/1503917694717.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s2-text">
                  <h4>
                    <font>农业研究疏松土壤物质</font>
                  </h4>
                  <p>土壤是地球陆地的表面由矿物质、有机质、水、空气和生物组成的 土壤是陆地上具有肥力并能生长植物的疏松表层。壤由岩石风化而成的矿物质、动植物，微生物残体腐解产生的有机质、土壤生物（固相物质）以及水分（液相物质）、空气（气相物质），氧化的腐殖质等</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3 col-6">
            <div class="s2-item">
              <a title="柚通柚美 奈李三华李现货现" href="/demo/business-template/V458/lv-se-shu-cai/show_323.html" target="_blank">
                <div class="s2-img">
                  <img alt="柚通柚美 奈李三华李现货现" src="/public/images/15039172917399.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s2-text">
                  <h4>
                    <font>柚通柚美 奈李三华李现货现</font>
                  </h4>
                  <p>李子中含有多种营养成分，有养颜美容、润滑肌肤的作用，李子中抗氧化剂含量高的惊人，堪称是抗衰老、防疾病的“超级水果”1、去骨节间劳热，肝有病的人宜于食用。晒干后吃，去痼热，调中。不能经常吃，否则会使人发热。喝水前吃李子会使人发痰疟。不能与麻雀</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="index-more">
          <a href="/demo/business-template/V458/Product" title="" target="_blank">more</a>
        </div>
      </div>
    </div>
    <div class="section3">
      <div class="container">
        <div class="title10">
          <h4><a href="/demo/business-template/V458/about_us" title="" target="_blank">公司简介</a></h4>
          <p>about_us</p>
        </div>
        <div class="s3-text">
          当今是互联网的时代，我们仍然对电力有着持续增长的需求，因为我们发明了家电等更多使用电力的产品。不可否认新技术的不断出现使得电力成为人们的必需品。不过，在目前电价无法实现市场化的情况下，真正的电煤市场化</div>
        <div class="s3-more">
          <a href="/demo/business-template/V458/about_us" title="" target="_blank"></a>
        </div>
      </div>
      <div class="s3-img-bg">
        <div class="s3-img0">
          <div class="s3-img s3-img1">
            <img alt="公司简介" src="/public/images/15039181756432.jpg" onerror="this.src='/public/images/nopic.gif'">
          </div>
        </div>
        <div class="s3-img s3-img2">
          <img alt="公司简介" src="/public/images/15039181756432.jpg" onerror="this.src='/public/images/nopic.gif'">
        </div>
      </div>
      <div class="s3-text-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="s3-item">
                <a title="161" href="/demo/business-template/V458/about_us/show_318.html" target="_blank">
                  <h4>
                    <font>161</font>
                  </h4>
                  <p>农业研究206个基地</p>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="s3-item">
                <a title="206" href="/demo/business-template/V458/about_us/show_317.html" target="_blank">
                  <h4>
                    <font>206</font>
                  </h4>
                  <p>全球206供货渠道</p>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="s3-item">
                <a title="1860" href="/demo/business-template/V458/about_us/show_316.html" target="_blank">
                  <h4>
                    <font>1860</font>
                  </h4>
                  <p>成立于1860</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section4">
      <div class="container">
        <div class="title10">
          <h4><a href="/demo/business-template/V458/Product" title="" target="_blank">公司团队</a></h4>
          <p>company team</p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="s4-item">
              <a title="农业科研 Research" href="/demo/business-template/V458/SERVICE/show_260.html" target="_blank">
                <div class="s4-img">
                  <img alt="农业科研 Research" src="/public/images/15039216125482.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农业科研 Research</font>
                  </h4>
                  <span>01</span>
                  <p>我们为200多名国际与本地客户的300余个产品提供了创新易用的设计方案，有效提升了产品体验和客户品牌价值，并引领市场不断树立新的体验标杆。我们整合商业思考，美学价值及技术实现，用设计的方法推动产品价值最大化，并与客户一起发现潜在机遇所谓产品</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s4-item">
              <a title="农产品 product" href="/demo/business-template/V458/SERVICE/show_259.html" target="_blank">
                <div class="s4-img">
                  <img alt="农产品 product" src="/public/images/15039216936609.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农产品 product</font>
                  </h4>
                  <span>02</span>
                  <p>农产品（farm produce）是农业中生产的物品，如高粱、稻子、花生、玉米、小麦以及各个地区土特产等。国家规定初级农产品是指农业活动中获得的植物、动物及其产品，不包括经过加工的各类产品。 据新华社全国农副产品和价格行情系统监测，与前一
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s4-item">
              <a title="农业基地 base" href="/demo/business-template/V458/SERVICE/show_258.html" target="_blank">
                <div class="s4-img">
                  <img alt="农业基地 base" src="/public/images/15039217059081.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农业基地 base</font>
                  </h4>
                  <span>03</span>
                  <p>农业生产基地就是在全国或地区农产品经济中占有较重地位并能长期稳定地向区内外提供大量农产品的集中生产地区。如粮食、油料、糖料、蔬菜、牧业、渔业等各种生产基地。它有以下几个方面的要求：一是强调生产的专业化和种植区域化，使基地尽可能成方连片，形成</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s4-item">
              <a title="农业科研 Research" href="/demo/business-template/V458/SERVICE/show_260.html" target="_blank">
                <div class="s4-img">
                  <img alt="农业科研 Research" src="/public/images/15039216125482.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农业科研 Research</font>
                  </h4>
                  <span>04</span>
                  <p>我们为200多名国际与本地客户的300余个产品提供了创新易用的设计方案，有效提升了产品体验和客户品牌价值，并引领市场不断树立新的体验标杆。我们整合商业思考，美学价值及技术实现，用设计的方法推动产品价值最大化，并与客户一起发现潜在机遇所谓产品</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s4-item">
              <a title="农产品 product" href="/demo/business-template/V458/SERVICE/show_259.html" target="_blank">
                <div class="s4-img">
                  <img alt="农产品 product" src="/public/images/15039216936609.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农产品 product</font>
                  </h4>
                  <span>05</span>
                  <p>农产品（farm produce）是农业中生产的物品，如高粱、稻子、花生、玉米、小麦以及各个地区土特产等。国家规定初级农产品是指农业活动中获得的植物、动物及其产品，不包括经过加工的各类产品。 据新华社全国农副产品和价格行情系统监测，与前一
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s4-item">
              <a title="农业基地 base" href="/demo/business-template/V458/SERVICE/show_258.html" target="_blank">
                <div class="s4-img">
                  <img alt="农业基地 base" src="/public/images/15039217059081.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s1-text">
                  <h4>
                    <font>农业基地 base</font>
                  </h4>
                  <span>06</span>
                  <p>农业生产基地就是在全国或地区农产品经济中占有较重地位并能长期稳定地向区内外提供大量农产品的集中生产地区。如粮食、油料、糖料、蔬菜、牧业、渔业等各种生产基地。它有以下几个方面的要求：一是强调生产的专业化和种植区域化，使基地尽可能成方连片，形成</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section5">
      <div class="container">
        <div class="title10">
          <h4><a href="/demo/business-template/V458/news" title="" target="_blank">新闻资讯</a></h4>
          <p>news</p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="2016广东省企业500强发布 深圳大生荣列第30位" href="/demo/business-template/V458/news/show_333.html" target="_blank">
                <div class="s5-img">
                  <img alt="2016广东省企业500强发布 深圳大生荣列第30位" src="/public/images/15039218395289.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s5-text">
                  <h4>
                    <font style="color:;">2016广东省企业500强发布 深圳大生</font>
                  </h4>
                  <span></span>
                  <p>8月3日，广东省企业联合会、广东省企业家协会发布2016年广东省企业500强及广东省民营企业100强榜单。深圳市大生农业</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="农产品最初一公里冷链不完善 中国每年损耗超三千亿" href="/demo/business-template/V458/news/show_332.html" target="_blank">
                <div class="s5-img">
                  <img alt="农产品最初一公里冷链不完善 中国每年损耗超三千亿" src="/public/images/15039218150761.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s5-text">
                  <h4>
                    <font style="color:;">农产品最初一公里冷链不完善 中国每年损耗</font>
                  </h4>
                  <span></span>
                  <p>据中国新闻网报道，由于我国农产品最初一公里冷链基础设施不完善，产地冷库和批发市场缺乏，农产品采摘后无法在第一时间预冷、分</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="s5-item">
              <a title="商务部：1万5千多家企业已建成肉菜追溯体系" href="/demo/business-template/V458/news/show_331.html" target="_blank">
                <div class="s5-img">
                  <img alt="商务部：1万5千多家企业已建成肉菜追溯体系" src="/public/images/15039217882701.jpg" onerror="this.src='/public/images/nopic.gif'">
                </div>
                <div class="s5-text">
                  <h4>
                    <font style="color:;">商务部：1万5千多家企业已建成肉菜追溯体</font>
                  </h4>
                  <span></span>
                  <p>据中国网报道，商务部8月2日召开例行新闻发布会，新闻发言人沈丹阳表示，2010年以来，商务部、财政部分五批支持全国58个</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="s3-more">
          <a href="/demo/business-template/V458/news" title="" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="section6">
      <div class="container">
        <div class="title10">
          <h4><a href="/demo/business-template/V458/news" title="" target="_blank">瑞盈分店</a></h4>
          <p>news</p>
        </div>
        <div id="owl-demo6" class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item">
                <div class="ih-item square effect6 from_left_and_right">
                  <a title="农业科研 Research" href="/demo/business-template/V458/SERVICE/show_260.html" target="_blank">
                    <div class="img">
                      <img alt="农业科研 Research" src="/public/images/15039216125482.jpg" onerror="this.src='/public/images/nopic.gif'">
                    </div>
                    <div class="info">
                      <h3>农业科研 Research</h3>
                      <p>fsfs</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section7">
      <div class="container">
        <h4>绿色农产品响应式网站模板</h4>
        <p>
          <span>地 址：绿色食品股份有限公司</span>
          <span>邮 编：136000</span>
          <span>电 话：400-4000-4000</span>
          <span>手 机：88888888888</span>
          <span>传 真：400-400-4000</span>
          <span>邮 箱：admin@admin.com</span>
        </p>
        <div class="fenxiang clearfix">
          <a href="#" onclick="jiathis_sendto('tsina');return false;">
            <span class="fa fa-weibo"></span>
          </a>
          <a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&amp;uin=871148347&amp;site=qq&amp;menu=yes" target="_blank">
            <span class="fa fa-qq"></span>
          </a>
          <a id="weixin">
            <span class="fa fa-weixin"></span>
          </a>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </div>
  <script src="/public/js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="/public/bootstrap/bootstrap.min.js"></script>
  <script src="/public/js/jquery.touchSwipe.min.js"></script>
  <script src="/public/bootstrap-touch-slider/bootstrap-touch-slider.js"></script>
  <script src="/public/owlcarousel/owl.carousel.min.js"></script>
  <script src="/public/js/nav.js"></script>
  <script type="text/javascript">
    // if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
    //   new WOW().init();
    // };

    $(document).ready(function() {
      // 轮播图的初始化
      $('#banner').bsTouchSlider();
      // 分店的轮播图初始化
      $("#owl-demo6").owlCarousel({
        nav: false,
        dots: true,
        margin: 10,
        items: 1,
        autoPlay: 3000,
        responsive: {
          320: {
            items: 1
          },
          480: {
            items: 2
          },
          600: {
            items: 3
          },
          1000: {
            items: 4
          }
        }
      });
    });
  </script>

</body>

</html>